<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin backend</title>

    <script src="js/jquery.js"></script>
    <script src="js/holder.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>


    <div class="mt-5 text-center container mb-4">
        <h3 class=" display-3">
            Edit houses properties
        </h3>
    </div>

    <div>
        <form action="" method="post">
            
        </form>
    </div>
    
</body>
</html>